.ul-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6c8cff;
}

.li-menu {
	float: left;
	border-right:1px solid #bbb;
}

.li-menu a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.li-menu a:hover:not(.active) {
	background-color: #0093ff;
}

.active {
	background-color: #94d0fa;
}

.li-menu-right {
	float: right;
	border-left:1px solid #bbb;
}

.li-menu-right a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.li-menu-right a:hover:not(.active) {
	background-color: #0093ff;
}